.site-footer{
	background-color: #ffff;
	color: #17658C;
	font-size: 16px;
	margin-top: 0px;
	padding-top: 5px;
  
}
.bottom-footer{
	border-top: 1px solid #b2b2b2;
	margin-top: 10px;
	padding-top: 10px;
	color: #b2b2b2;
}
.footer-nav{
	text-align: right;
	list-style:  none;

}
.footer-nav li{
	display: inline;
	
}
.footer-nav li:not(:first-child):before{
  content:'|';
  padding: 0px 10px;
}
.footer-nav a{
	color: #b2b2b2;
}
.footer-nav a:hover{
	color: #17658C;
	text-decoration: none;
}