body{
    background-color: #ffffff;  
  }
  
  .navbar-brand{
    margin:0;
    padding: 0;
    
  }
  .logo{
    height: auto;
    max-width: 310px;
    padding-top: 10px;
    position: absolute; 
  }

  .navbar{
    margin-top: 5px;
  } 
   .navbar-default{
     height: 80px;
     padding-top: 5px;
     border: none;
     background-color: #ffffff;
     display: inline;
     text-align: center;
   }
   .navbar-header{
    height: 100px;
    
   }
  .navbar-toggle{
    position: relative;
    top:30px !important;
    border: none;
    }
   .navbar-collapse{
    top:30px !important;
    position:relative;
    font-size: 18px;
    border: none; 
   }
@media only screen and (max-width : 390px) {
 .navbar-brand{
    margin:0;
    padding: 0;
  }

.logo{
    height: auto;
    max-width: 180px;
    padding-top: 10px;
    position: absolute; 
  }
.navbar-header{
    height: 20px;
   }
   .navbar-toggle{
    position: relative;
    top:10px !important;
    border: none;
    size: 200px;
    }
    .navbar-collapse{
    top:10px;
    position: relative;
    font-size: 14px;
    border: none; 
    size: 50%;
   }
  .randoming img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;   
}
    
}
/*Navbar ends */

/* imgs */
.randoming img{
 display: block;
 margin-left: auto;
 margin-right: auto;  
 margin-top:60px;
}

.back_div{
  padding: 5px;
  padding-top: 14px;
  background-color: #eee;
  height: 200px;
  border-radius: 15px;
}

.outer_div{
  padding-bottom: 10px;
}

.gfont{
  font-family: 'Lobster Two', cursive;
}

html {
  scroll-behavior: smooth;
}